﻿@using MomsBest.Models
@model MomsBest.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <img src="@Model.PictureUrl" class="recipe-image-details"/>

    <div>
        <strong>Prep Time:</strong>
    </div>
    <br/>
    <div>
        <strong>Ingredients:</strong>
        <ul>
        @foreach (Ingredient i in Model.Ingredients)
        {
            <li>
                @i.Name - @i.Quantity
            </li>
        }
         </ul>
    </div>
    <br/>
    <div>
        <strong>Directions:</strong>
        <p>
            @Model.Directions
        </p>
    </div>
</div>
