﻿@{
    Layout = null;
 }

@model MomsBest.Models.Ingredient

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        <div class="col-md-10">
            @Html.HiddenFor(model => model.Id, new { @class = "hidden-id"} )
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control ingredient-name-textbox"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})

            @Html.LabelFor(model => model.Quantity, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control ingredient-quantity-textbox"}})
            @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
        </div>
    </div>
</div>