﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="wrapper">
    <div class="navbar navbar-inverse">
        <div class="login-links">
            @Html.Partial("_LoginPartial")
        </div>

        <div class="main-image">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/main_image.png" />
            </a>
        </div>

        <div class="nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            @Html.Partial("_PrimaryNavPartial")
            @Html.Partial("_MobileNavPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    
    <footer>
        &copy; @DateTime.Now.Year - <a href="http://www.sector12games.com">Sector12 Games</a>

        <div style="float: right;">
            @Html.ActionLink("Categories", "Index", "Categories") -
            @Html.ActionLink("Recipes", "Index", "Recipes")
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<!--
    http://webdesignerwall.com/tutorials/css3-rounded-image-with-jquery/comment-page-1#comments
    A few changes: span changed to div, added a background-size attribute.
-->
<script type="text/javascript">
$(document).ready(function() {
  $(".recipe-image").load(function() {
    $(this).wrap(function(){
        return '<div class="' + $(this).attr('class') + '" style="background:url(' + $(this).attr('src') + ') no-repeat center center; background-size: ' + $(this).width() + 'px ' + $(this).height() + 'px; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
    });
    $(this).css("opacity","0");
  });
});
</script>

</body>
</html>
