﻿<div class="navbar-collapse collapse">
    <div class="visible-xs">
        <!-- BROWNIES AND BARS -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 2 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/brownies.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Brownies & Bars
                </div>
            </a>
        </div>

        <!-- COOKIES -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 1 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/cookies.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Cookies
                </div>
            </a>
        </div>

        <!-- PIE -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 3 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/pie.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Pie
                </div>
            </a>
        </div>

        <!-- CAKES AND CUPCAKES -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 4 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/cupcakes.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Cakes & Cupcakes
                </div>
            </a>
        </div>

        <!-- MALTS AND SHAKES -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 5 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/drinks.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Malts & Shakes
                </div>
            </a>
        </div>

        <!-- DRINKS -->
        <div class="mobile-nav-icon-wrapper">
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 6 })">
                <div class="mobile-nav-icon">
                    <img src="../../Content/Images/coffee.png"/>
                </div>
                <div class="visible-xs mobile-nav-icon-text">
                    Drinks
                </div>
            </a>
        </div>

        <!-- Add some extra space to make up for our negative margins.
             A scrollbar will appear if we don't account for this. -->
        <div style="clear: both; height: 20px;"></div>
    </div>
</div>