﻿<!-- PRIMARY NAV -->
<div class="navbar-collapse collapse hidden-xs primary-nav">
    <ul class="nav navbar-nav">
        <!-- BROWNIES AND BARS -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 2 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/brownies.png" />
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/brownies_glow.png" />
                    </div>
                </div>
                <div class="fade-in" style="left: -10px; top: 85px;">
                    Brownies & Bars
                </div>
            </a>
        </li>

        <!-- COOKIES -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 1 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/cookies.png"/>
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/cookies_glow.png"/>
                    </div>
                </div>
                <div class="fade-in" style="left: 10px; top: 85px;">
                    Cookies
                </div>
            </a>
        </li>

        <!-- PIE -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 3 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/pie.png"/>
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/pie_glow.png"/>
                    </div>
                </div>
                <div class="fade-in" style="left: 22px; top: 85px;">
                    Pie
                </div>
            </a>
        </li>

        <!-- CAKES AND CUPCAKES -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 4 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/cupcakes.png"/>
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/cupcakes_glow.png"/>
                    </div>
                </div>
                <div class="fade-in primary-nav-icon-text" style="left: -20px; top: 85px">
                    Cakes & Cupcakes
                </div>
            </a>
        </li>

        <!-- MALTS AND SHAKES -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 5 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/drinks.png"/>
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/drinks_glow.png"/>
                    </div>
                </div>
                <div class="fade-in" style="left: -20px; top: 85px;">
                    Malts & Shakes
                </div>
            </a>
        </li>

        <!-- DRINKS -->
        <li>
            <a href="@Url.Action("RecipesInCategory", "Home", new { id = 6 })">
                <div class="primary-nav-icon">
                    <div>
                        <img src="../../Content/Images/coffee.png"/>
                    </div>
                    <div class="fade-in">
                        <img src="../../Content/Images/coffee_glow.png"/>
                    </div>
                </div>
                <div class="fade-in" style="left: 12px; top: 85px;">
                    Drinks
                </div>
            </a>
        </li>
    </ul>
</div>

