﻿/*------------------------------------*\
    MAIN
\*------------------------------------*/

body {
    padding-top: 10px;
    padding-bottom: 20px;
    
    color: #ffffff;
    background-color: #333333;
    margin: 0 auto;
    
    background-image: url(Images/background.png);
    background-repeat: no-repeat;
    background-position: 20px -100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    min-height: 250px;

    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
}

.main-image {
    float: left;
}
.main-image img {
    max-width: 100%; max-height: 100%;
}

.login-links {
    text-align: right;
    margin-right: 15px;
}
.login-links a {
    font-family: 'Pacifico', cursive;
}

h2 {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

a, 
a:hover,
a:active,
a:visited
{
    color: #cc583f;
}

td.url {
    word-break: break-all;
}

.ingredient-name-textbox {
    width: 100px;
}
.ingredient-quantity-textbox {
    width: 50px;
}

/*------------------------------------*\
    RECIPE IMAGES
\*------------------------------------*/

.recipe-wrapper {
    float: left;
    width: 200px;
    height: 170px;
}
.recipe-image {
    border: 3px solid #333333;
    border-radius: 8px;
    max-width: 200px;
    max-height: 150px;
    margin: auto;
}
.recipe-image-details {
    border: 3px solid #333333;
    border-radius: 8px;
    max-width: 400px;
    max-height: 400px;
    float: left;
    margin-right: 20px;
}
.recipe-caption-text {
    text-align: center;
}

/*------------------------------------*\
    BOOTSTRAP OVERRIDES
\*------------------------------------*/

.list-unstyled li {
    display: inline;
}

/*------------------------------------*\
    BOOTSTRAP NAVBAR OVERRIDES
\*------------------------------------*/

.navbar-inverse {
    border: none;
    background-color: transparent;
}
.navbar-collapse {
    padding: 0;
}
.nav-container {
    padding-right: 0;
    margin-top: 55px;
}
.nav li {
    margin: -10px 0px -20px -25px;
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
}
.nav li a {
    padding: 0;
}

/*------------------------------------*\
    PRIMARY NAVBAR
\*------------------------------------*/

.primary-nav {
    float: right;
}
.primary-nav-icon {
    float: left;
}
.primary-nav-icon-text {
    top: 60px;
}

/*------------------------------------*\
    MOBILE NAVBAR
\*------------------------------------*/

/* Overflow hidden is very important here. If it's left out, then all of 
   the navbar floats will try to rearrange themselves in order to be fully
   visible (they'll start wrapping). */
.mobile-nav-icon-wrapper {
    overflow: hidden;
    margin-bottom: -20px;
}
.mobile-nav-icon {
    float: left;
}
.mobile-nav-icon-text {
    line-height: 60px;
    float: left;
    font-size: 1.2em;
}
.mobile-nav-icon-wrapper a {
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}
.mobile-nav-icon-wrapper a:hover div {
    text-decoration: underline;
}
.mobile-nav-icon img {
    max-width: 64px;
}

/*------------------------------------*\
    FADE IN/OUT EFFECT
\*------------------------------------*/

.fade-in {
	position:absolute; 
	left:0; 
	top: 0;
    white-space: nowrap;

   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

/* When a link is hovered over, fade in all .fade-in divs
   within the link. Most of the time, this is just a single 
   div, but in the case of our primary logo, it is both the
   text and the tiles image. They are separate because one 
   day my tiles image will be a .gif, and combining the 
   text and tiles image into a single image will make the
   gif much larger.
*/
a:hover .fade-in {
    opacity: 1;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media (max-width: 768px) {
    .main-image {
        margin-top: -10px;
        max-width: 120px;
        max-height: 120px;
    }

    .recipe-image-details {
        max-width: 200px;
        max-height: 150px;
    }
}