﻿@model MomsBest.Models.Category

@{
    ViewBag.Title = "RecipesInCategory";
}

<h2>@Model.Name</h2>

<div>
    @foreach (var item in Model.Recipes)
    {
        <div class="recipe-wrapper">
            <a href="@Url.Action("Details", "Recipes", new { id = item.Id })">
                <img src="@item.PictureUrl" class="recipe-image"/>
                <div class="recipe-caption-text">@item.Name</div>
            </a>
        </div>
    }
</div>

<div>&nbsp;</div>
