﻿@*
    This item will be added dynamically to a web page via an ajax call. For more
    details on the complete implementation, check out the following discussion:
    http://www.techiesweb.net/asp-net-mvc3-dynamically-added-form-fields-model-binding/
*@

@model MomsBest.Models.Ingredient

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        <div class="col-md-2">&nbsp;</div>
        <div class="form-inline col-md-10">
            <input type="hidden" class="hidden-id" id="Ingredients_@(Model.Id)__Id" name="Ingredients[@Model.Id].Id" value="@Model.Id" />
            <b>Name</b>
            <input type="text" class="form-control ingredient-name-textbox" id="Ingredients_@(Model.Id)__Name" name="Ingredients[@Model.Id].Name" value="@Model.Name"/>
            <b>Quantity</b>
            <input type="text" class="form-control ingredient-name-textbox" id="Ingredients_@(Model.Id)__Quantity" name="Ingredients[@Model.Id].Quantity" value="@Model.Quantity" />
        </div>

        @*
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Id, new { @class = "hidden-id"} )
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control ingredient-name-textbox"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})

            @Html.LabelFor(model => model.Quantity, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control ingredient-quantity-textbox"}})
            @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
        </div>
        *@
    </div>
</div>
